<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ko" th:replace="~{headerTemplate :: headerTemplate}">
</head>
<body class="bg-gradient-primary">
	<div th:insert="~{bodyTemplate :: bodyTemplate}"></div>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-12 col-md-9">
				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<div class="d-flex justify-content-center">
							<div class="col-lg-10">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4">비밀번호찾기</h1>
									</div>
									<form class="user"
										onsubmit="return checkFormAndFindPassword();">
										<div class="form-group">
											<input type="text" class="form-control form-control-user"
												id="loginId" placeholder="아이디를 입력해주세요." name="loginId">
										</div>
										<div class="from-group">
											<input type="text" class="form-control form-control-user"
												id="name" placeholder="이름을 입력해주세요." name="name">
										</div>
										<hr>
										<button type="submit"
											class="btn btn-primary btn-user btn-block">비밀번호 찾기</button>
									</form>
									<hr>
									<div class="text-center">
										<a class="small" th:href="@{/users/register}">회원가입 하러가기</a>
									</div>
									<div class="text-center">
										<a class="small" th:href="@{/}">로그인 화면으로 이동</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
	<script>
		function checkFormAndFindPassword() {
			if (checkForm()) {
				findPassword();
			}
			return false;
		}
		function checkForm() {
			var id = document.getElementById("loginId");
			var name = document.getElementById("name");

			if (id.value === "" || name.value === "") {
				alert("모든 필드를 입력해주세요.");
				return false;
			}

			return true;
		}
		function findPassword() {
			var id = $('#loginId').val();
			var name = $('#name').val();
			$.ajax({
				type : "GET",
				url : "/users/passwordRecovery",
				data : {
					"mId" : id,
					"mName" : name
				},
				async: false,
				success : function(data) {
					alert(data);
					if (data != "fail") {
						alert("비밀번호가 성공적으로 변경되었습니다. 새 비밀번호: " + data);
						window.location.href = "/";
					} else {
						alert("비밀번호 변경에 실패했습니다. 입력 정보를 확인해 주세요.");
					}
				}
			});
		}
	</script>
</body>
</html>