<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ko" th:replace="~{headerTemplate :: headerTemplate}">
</head>
<body class="bg-gradient-primary">
	<div th:insert="~{bodyTemplate :: bodyTemplate}"></div>
	<div class="container">
		<div class="row justify-content-center">

			<div class="col-xl-10 col-lg-12 col-md-9">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<div class="d-flex justify-content-center">
							<div class="col-lg-10">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4">로그인</h1>
									</div>
									<form class="user" onsubmit="return checkFormAndCheckLogin();">
										<div class="form-group">
											<input type="text" class="form-control form-control-user"
												id="loginId" name="loginId" placeholder="아이디를 입력해주세요"
												autocomplete="off">
										</div>
										<div class="form-group">
											<input type="password" class="form-control form-control-user"
												id="password" placeholder="비밀번호를 입력해주세요" name="password">
										</div>
										<button type="submit"
											class="btn btn-primary btn-user btn-block">로그인</button>
									</form>
									<hr>
									<div class="text-center">
										<a class="small" th:href="@{/users/findPassword}">비밀번호를
											잊어버리셨나요?</a>
									</div>
									<div class="text-center">
										<a class="small" th:href="@{/users/register}">회원가입 하러가기</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>

	</div>

	<script>
		function checkFormAndCheckLogin() {
			if (checkForm()) {
				checkLogin();
			}
			return false;
		}
		function checkForm() {
			var id = document.getElementById("loginId");
			var password = document.getElementById("password");

			if (id.value === "" || password.value === "") {
				alert("모든 필드를 입력해주세요.");
				return false;
			}

			return true;
		}
		function checkLogin() {
			var id = $('#loginId').val();
			var password = $('#password').val();
			$.ajax({
				type : "POST",
				url : "/users/login",
				data : {
					"loginId" : id,
					"password" : password
				},
				async : false,
				success : function(data) {
					if (data == "success") {
						window.location.href = "/users/home";
					} else {
						alert("존재하지 않은 아이디거나 비밀번호가 틀렸습니다.d");
					}
				}
			});
		}
	</script>
</body>
</html>